<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: url('https://images5.alphacoders.com/564/thumb-1920-564931.jpg') no-repeat center center fixed;background-size: cover;">
    <div style="display: inline;">
        <img class="text-center" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1ebd221d-3581-4775-8f4c-086c377bc4c3/de2puox-33a4b0e7-e279-421f-912f-9e01df14d3f8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFlYmQyMjFkLTM1ODEtNDc3NS04ZjRjLTA4NmMzNzdiYzRjM1wvZGUycHVveC0zM2E0YjBlNy1lMjc5LTQyMWYtOTEyZi05ZTAxZGYxNGQzZjgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.02JpTMGlvTtvtLkSHmmK-qXEbOknj6iRZg2zyFhNPIc" alt="Logo" style="margin-top: 251px; margin-left: 396px; height: 700px;">
        <h3 style="margin-left: 981px ; margin-top: -680px; color: yellow;">what's so spesial</h3>
        <h1 style="margin-left: 64%">FEATURES</h1>
        <H3 style= "margin-left: 62% ; margin-top: 1%;">TRADITIONAL GAMES</H3>
        <h4 style="margin-left: 62%"> if you miss your chillhood, we provide many traditional games here</h4>
        <H3 style="margin-left: 62%">GAME SUIT</H3>
        <H3 style="margin-left: 62%">TBD</H3>

    </div>
    
</body>
</html>