<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: url(https://thumb.viva.co.id/media/frontend/thumbs3/2022/05/12/627d0139aef44-goa-seruling-buluh-cina_665_374.jpg);">
    <img src="https://imgsrv2.paragram.id/-SQbpNlyq6Knp2I0wMSfrFx8hvI=/smart/filters:strip_icc():quality(80):format(jpeg)/posts/2019-05/24/c6d9321b47fe8e0751c5789d9085135b_1558679587-b.jpg" alt="https://imgsrv2.paragram.id/-SQbpNlyq6Knp2I0wMSfrFx8hvI=/smart/filters:strip_icc():quality(80):format(jpeg)/posts/2019-05/24/c6d9321b47fe8e0751c5789d9085135b_1558679587-b.jpg">
    <h3>What's so spesial?</h3>
    <h1>The Games</h1>
</body>
</html>