<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background: url(https://cdn.fansshare.com/photo/wallpaperbackground/black-wood-wallpaper-tv-2050503971.jpg)">
    <h1>TOP SCORES</h1>
    <h3>This top score from various games provide on this platform</h3>
    <button type="button" class="btn btn-warning" style="display:flex center;">see more</button>
    <div class="container">
                <div class=" loginbox" style="max-width:350px; margin: 60px auto 20px;min-width: 280px;">
                        <div class="row" style="margin-top: 15px;padding-left: 5px;">
                                <div class="g-recaptcha"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeOv0EhAAAAABHlvVPMQfFb_TpvxG1g6i7foAma&amp;co=aHR0cHM6Ly9lLW1vbmV2LmJhcHBlbmFzLmdvLmlkOjQ0Mw..&amp;hl=en&amp;v=a9s0j4pCVT6gaTEkLiFbtZPH&amp;size=normal&amp;cb=gspvolvgt78t" width="304" height="78" role="presentation" name="a-nedso2i3pz69" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                            </div>
</body>
</html>